/*-------------------*/
    /*Mobile First*/
/*-------------------*/

/*Navbar*/
.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
    margin-bottom: 0;
}

/*SideBar*/
.side {
    width: 15rem;
    height: 100vh;
    padding-top:2rem;
    background-color: #334E72;
}

.side a.nav-link:hover  {
    background-color: #1494DA;

}

a.nav-link.side-bar {
    padding: 1rem 0 1rem 1rem;
    font-size: 1.2rem;
    color: #fff;
}

.side a.nav-link.side-bar i {
    padding-left: 0.5rem;
} 

/*Card*/

.card-flex {
    display: flex;
}

.card-body {
    padding: 2rem;
    height: auto;
    box-shadow: 0px 0px 1em #CFCACA;
    -webkit-box-shadow: 0px 0px 1em #CFCACA;
    -moz-box-shadow: 0px 0px 1em #CFCACA;
}

.card-div {
    margin: 2rem 3rem;
    width: 100%;
}

.btn.btn-primary {
    margin: 2rem 0;
}

.table i.delete{
    color: red;
    cursor: pointer;
}

.table i.update{
    color: #F6B40F;
    cursor: pointer;
}

/*Forms*/
.form-itens{
    margin-top: 2rem;
}

.form-itens .form-submit {
    margin-right: 1rem;
}

/*Login / Register */

.form-user {
    width: 20%;
    margin: 15% auto;
}

.form-user h1 {
    padding-bottom: 2.5rem;
}

.erro-contact {
    color: red;
}

.error-div {
    height: 30px;
    padding: 0 0 0 1rem;
}

.error-back {
    height: 30px;
    padding-top: 1rem;
}

.form-user .btn.btn-primary {
    margin: 0;
}

.form-user .link-register p{
    text-align: center
}